<h1>Log In</h1>
<%= form_for :user, url: '/login' do |f| %>
  <br>Username: <%= f.text_field :username %><br><br>
  Password: <%= f.password_field :password %><br><br>
  <%= f.submit "Login" %>
<% end %>
