
<div class="container" style="display:flex;flex-direction:row;justify-content:flex-end;padding-top:100px">
  <% if (logged_in? && (current_user.id == @user.id)) %>
  <a href=<%=edit_user_path%> class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit Profile</a>
  <% end %>
</div>


<div class="container">
  <h1><%= @user.username %></h1><br><br>
  <p><%= @user.bio %></p>
<% last_five = @user.posts.last(5) %>
<% last_five.each do |post| %>
<p class="lead"><%= link_to post.title, post_path(post) %></p>
<% end %>
</div>
