
<h1><%= @user.username %></h1>
<p><%= @user.bio %></p>


<ul>
  <% last_five = @user.posts.last(5) %>
  <% last_five.each do |post| %>
<li><%= link_to post.title, post_path(post) %></li>
<% end %>
</ul>
<br>

<% if (logged_in? && (current_user.id == @user.id)) %>
  <%= link_to "Edit Profile", edit_user_path(@user) %>
<% end %>
