<h3>All Posts</h3>

<div>
<% @posts.each do |post| %>
  <p><%= link_to post.title, post_path(post) %></p>
<% end %>
</div>

<%= link_to 'Create New Post', new_post_path %>
<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
