<div class="container" style="display:flex;flex-direction:row;justify-content:flex-end;padding-top:100px">
  <a href="posts/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create a Post</a>
</div>

<div>

</div>
<div class="container">
  <h1>All Posts</h1><br><br>
<% @posts.each do |post| %>
  <p class="lead"><%= link_to post.title, post_path(post) %></p>
<% end %>
</div>
