
<div class="container" style="padding-top:100px">
  <h1>All Destinations</h1><br><br>
<% @destinations.each do |destination| %>
<p class="lead"><%= link_to destination.location, destination_path(destination) %></p>
<% end %>
</div>
